<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- inject:css -->
    <!-- endinject -->
    <title>Bork Test</title>
  </head>
  <body>
    <main class="main">
      <form class="form main__block">
        <a class="form__back" href="#">Вернуться</a>

        <div class="form__image"></div>

        <label class="input form__input">
          <input class="input__field" type="tel" placeholder="Номер телефона" />
        </label>

        <label class="input input--password form__input form__input--last">
          <input class="input__field" type="password" placeholder="Пароль" />
        </label>

        <div class="form__row">
            <label class="checkbox form__checkbox">
                <input class="checkbox__default" type="checkbox" name="checkbox" />

                <span class="checkbox__custom"></span>

                <span class="checkbox__text">Запомнить</span>
            </label>

            <a class="form__forgot" href="#">Забыл пароль</a>
        </div>

        <button class="button form__submit" type="submit">Войти</button>
      </form>
    </main>
    <!-- inject:js -->
    <!-- endinject -->
  </body>
</html>
