<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- inject:css -->
    <!-- endinject -->
    <title>Bork Test</title>
  </head>
  <body>
    <main class="main">
      <form class="form main__block js-form" method="POST">
        <a class="form__back" href="#">Вернуться</a>

        <div class="form__image"></div>

        <label class="input form__input js-form-input">
          <input
            class="input__field js-form-tel js-form-input-field"
            type="tel"
            name="tel"
            placeholder="Номер телефона"
            pattern="8\((\d{3})\)\s?[0-9]{3}-[0-9]{2}-[0-9]{2}"
            required
          />
        </label>

        <label class="input input--password form__input form__input--last js-form-input">
          <input
            class="input__field js-form-input-field"
            type="password"
            name="password"
            placeholder="Пароль"
            minlength="5"
            required
          />
        </label>

        <div class="form__row">
          <label class="checkbox form__checkbox">
            <input class="checkbox__default" type="checkbox" name="remember" />

            <span class="checkbox__custom"></span>

            <span class="checkbox__text">Запомнить</span>
          </label>

          <a class="form__forgot" href="#">Забыл пароль</a>
        </div>

        <button class="button form__submit js-form-submit" type="submit">Войти</button>
      </form>
    </main>
    <!-- inject:js -->
    <!-- endinject -->
  </body>
</html>
